.git
.gitignore
__pycache__/
venv/
.venv/
.mypy_cache/
.pytest_cache/
.streamlit/
logs/
persisted_index/
persisted_index_backup/
chroma_db/
chroma_db_backup/
*.log
*.sqlite
*.pyc
dist/
build/
*.egg-info/
chat_history/
previous_chats/
user_data/
quiz_results/
*.png
*.jpg
*.jpeg
*.pdf
*.db
